@import '~styles/utilities';

.container {
	position: fixed;
	background: $white;
	border-radius: 8px;
	box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.15);

	&.slideLoad {
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	&.slideIn {
		transform: translateX(0);
		transition: transform 0.3s ease-in-out;
	}

	&.slideOut {
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}
}
