@import '~styles/utilities';

.tooltipWrapper {
	position: relative;
	display: flex;
}

.tooltipContainer {
	@include f100;

	position: absolute;
	background-color: $clay-600;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
		rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
	// border: 1px solid $grey-300;
	padding: $sp-50 $sp-150 0;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: $sp-150;
	color: $grey-800;

	&::before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;

		border-right: 7px solid transparent;
		border-left: 7px solid transparent;
		border-top: 7px solid $clay-600;

		left: 50%;

		bottom: -7px;
		transform: translateX(-50%);
	}
}

.tootip-enter {
	opacity: 0.01;
	transform: scale(1.1);
	transition: all 300ms;
}

.tootip-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: all 300ms;
}

.tootip-exit {
	opacity: 1;
	transform: scale(1);
}

.tootip-exit-active {
	opacity: 0.01;
	transform: scale(1.1);
	transition: all 300ms;
}
