@import '~styles/utilities';

.drawer {
	position: fixed;
	z-index: 1001;
	transition: transform 0.3s ease-in-out;

	&.top {
		top: 0;
		right: 0;
		left: 0;
		transform: translateY(-100%);

		&.slideLoad {
			transform: translateY(-100%);
		}

		&.slideIn {
			transform: translateY(0);
		}

		&.slideOut {
			transform: translateY(-100%);
		}
	}

	&.right {
		top: 0;
		right: 0;
		bottom: 0;
		transform: translateX(100%);

		&.slideLoad {
			transform: translateX(100%);
		}

		&.slideIn {
			transform: translateX(0);
		}

		&.slideOut {
			transform: translateX(100%);
		}
	}

	&.bottom {
		bottom: 0;
		right: 0;
		left: 0;
		transform: translateY(100%);

		&.slideLoad {
			transform: translateY(100%);
		}

		&.slideIn {
			transform: translateY(0);
		}

		&.slideOut {
			transform: translateY(100%);
		}
	}

	&.left {
	}

	&.slideLoad,
	&.slideIn,
	.slideOut {
		transition: transform 0.3s ease-in-out;
	}
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background-color: $grey-100;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	overflow: hidden;
	transition: opacity 0.3s ease-out;

	svg {
		position: relative;
		width: 20px;
		height: 20px;

		g {
			stroke: $grey-600;
			transition: stroke 0.3s ease-out;
		}
	}

	&:hover {
		svg g {
			stroke: $black;
		}
	}
}

.menuTitle {
	@include f200;

	color: $grey-600;
}

.menuItem {
	@include f250;

	cursor: pointer;
	margin-top: $sp-100;
	transition: color 0.3s ease-out;

	&:hover,
	&:active {
		color: $primary-400;
	}
}

.divider {
	height: 1px;
	display: flex;
	background-color: $grey-200;
	margin-top: $sp-400;
	margin-bottom: $sp-400;
}
