
:root {
    --fz-0: #{rem(10px)};
    --lh-0: #{rem(16px)};
    //
    --fz-100: #{rem(12px)};
    --lh-100: #{rem(20px)};
    //
    --fz-200: #{rem(14px)};
    --lh-200: #{rem(20px)};
    //
    --fz-250: #{rem(16px)};
    --lh-250: #{rem(28px)};
    //
    --fz-300: #{rem(18px)}; // Default
    --lh-300: #{rem(32px)};
    //
    --fz-400: #{rem(24px)};
    --lh-400: #{rem(32px)};
    //
    --fz-500: #{rem(21px)};
    --lh-500: #{rem(32px)};
    //
    --fz-600: #{rem(26px)};
    --lh-600: #{rem(40px)};
    //
    --fz-700: #{rem(31px)};
    --lh-700: #{rem(48px)};
    //
    --fz-800: #{rem(37px)};
    --lh-800: #{rem(52px)};
    //
    --fz-900: #{rem(48px)};
    --lh-900: #{rem(60px)};
}
