@import '~styles/utilities';

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	max-width: $screen-sm;

	@include md {
		max-width: $screen-md;
	}

	@include lg {
		max-width: $screen-lg;
	}

	@include xl {
		max-width: $screen-xl;
	}
}

.container.sm {
	max-width: $screen-sm;
}

.container.md {
	max-width: $screen-md;
}

.container.lg {
	max-width: $screen-lg;
}

.container.xl {
	max-width: $screen-xl;
}

.container > * {
	grid-area: main;
}
